@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
                                   
/* Main setting*/
html {
  display: grid;
  align-items: center;
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 10px;
}

h4 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-decoration: none;  
  text-align: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}



/* ------------------------------------------------------------------------------------------------------------------------ */


/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  margin-top: 68px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev {left: 0}
.next {right: 0}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0 16px 0 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #E23D2A;
}

/* Caption text */
.text {
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  left: 16px;
}

/* The dots/bullets/indicators */
.dotgroup {
  position:absolute;
  width: 100%;
  bottom: 16px;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: rgba(226, 61, 42, 0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(226, 61, 42);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ------------------------Section Berita ------------------*/
/* Create two columns/boxes that floats next to each other */

#section1{
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

.bigcard {
  width: 50%;
  background: #fff;
  padding: 20px;
  position: relative;
}

.bigcard-text {
  text-align: left;
  color: #fff;
  margin: 32px 16px;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.jk {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 15px;

}
.jk-overlay {
  background: linear-gradient(180deg, rgba(27, 27, 27, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%);
  border-radius: 15px;
  position: absolute;
  margin: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

article {
  padding: 20px;
  background-color: #fff;
}

.baca {
  text-align: left;
}

.more_btn {
  border: 2px solid #E23D2A;
  background-color: white;
  color: #E23D2A;
  padding: 16px 40px;
  border-radius: 24px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.more_btn:hover, #submit:hover {
  background: #E23D2A;
  color: white;
}

.card {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 20px 0;
  border:solid 0.7px rgba(226, 61, 42, 0.5);
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.card img {
  width: 8em;
  height: 5.2em;
}

.card-content {
  padding: 2px;
  display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  text-align: left;
  margin: 4px;
}

#formobile {display: none;}

#section2 {
  width: 100%;
  background: #ED775D;
  padding: 80px;
  margin-top: 1rem;
}

.sec2-container {
  width: 80%;
  background: #fff;
  margin: 0 auto;
  border-radius: 24px;
  height: 400px;
}

.sec2-title {padding: 1.5rem 0;}

#vote-form select, #submit{
  border: 2px solid #E23D2A;
  font-family: 'Poppins', sans-serif;
  color: #E23D2A;
  background: #fff;
  padding: 10px 32px;
  border-radius: 24px;
}
#submit {margin-left: 20px;}

#results-button {
  margin-top: 2rem;
  border: none;
  color: #fff;
  background: #E23D2A;
  padding: 16px 40px;
  border-radius: 24px;
}

#results-button:hover {background-image: linear-gradient(rgb(0 0 0/10%) 0 0);}
/* -----------------------------------------------------------------------------------------------------------------------*/

@media (max-width:900px) {
  /* section pertama */
  #section1{
  display: block;
  }
  .bigcard {
    width: 100%;
  }

  article .baca{
    text-align: center;
  }
  .card-container{
    display: flex;
    justify-content: space-between;
  }
  
  #forweb {margin-right: 10px;}
  #formobile {display: block;}
}